{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "GST",
    "description" : "New Collection",
    "version" : "1.0"
  },
  "servers" : [ {
    "url" : "https://qqq.com/aaa",
    "x-name" : "Server1"
  }, {
    "url" : "https://qqqq.com/aaa",
    "x-name" : "Server2"
  } ],
  "paths" : {
    "/wdsw" : {
      "get" : {
        "tags" : [ "checking-spring java11" ],
        "summary" : "todos",
        "description" : "dummy",
        "operationId" : "todos",
        "parameters" : [ {
          "name" : "Cookie",
          "in" : "header",
          "schema" : {
            "type" : "string"
          },
          "example" : "cookie=555"
        }, {
          "name" : "dggvfgfg",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "dhdbhdbdh"
        }, {
          "name" : "test",
          "in" : "header",
          "schema" : {
            "type" : "string"
          },
          "example" : "testingg"
        } ],
        "responses" : {
          "200" : {
            "description" : "Response for endpoint GET-todos/random",
            "headers" : {
              "X-Dns-Prefetch-Control" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "Server" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "Access-Control-Allow-Origin" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "X-Ratelimit-Remaining" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "X-Content-Type-Options" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "Connection" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "X-Download-Options" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "Date" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "Via" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "X-Frame-Options" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "X-Ratelimit-Reset" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "X-Ratelimit-Limit" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "Strict-Transport-Security" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "Etag" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "X-Xss-Protection" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "Vary" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "Content-Length" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "Content-Type" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "*/*" : {
                "schema" : {
                  "required" : [ "completed", "id", "todo", "userId" ],
                  "type" : "object",
                  "properties" : {
                    "id" : {
                      "type" : "integer"
                    },
                    "todo" : {
                      "type" : "string"
                    },
                    "completed" : {
                      "type" : "boolean"
                    },
                    "userId" : {
                      "type" : "integer"
                    }
                  },
                  "example" : "{\"id\":75,\"todo\":\"Hold a yard sale\",\"completed\":true,\"userId\":20}"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : { },
  "x-servers" : [ {
    "url" : "https://dummyjson.com"
  } ],
  "x-original-swagger-version" : "2.0",
  "tags" : [ ],
  "security" : [ ],
  "x-mock" : true,
  "x-metadata" : {
    "metadata" : {
      "swaggerName" : "827dcc21fc7640a1b039a999b8f27069",
      "revision" : 1,
      "documentation" : [ ],
      "category" : [ {
        "name" : "Unsorted",
        "paths" : [ "/wdsw" ]
      } ]
    }
  }
}